.navbar {
  background-color: #141e3c;
  color: #fff;
}
.primary {
  background-color: #ed79f9;
}

:root {
  --bs-body-font-family: "Lato", sans-serif;
}
.light-theme {
  --link: #007eb3;
  --highlight: #173a64;
}

#variable_info_pane .info-title {
  text-align: left;
}
.info-body table {
  margin: 0.2em 0 0.5em 0;
}

.output-text{
	margin: 0;
}

.coming-soon {
  margin-top: -45px; 
  margin-bottom: 39px; 
  padding-left: 35px; 
  padding-top:0px; 
  transform: rotate(-25deg); 
  color: black; 
  opacity: .3;
}