.navbar {
  background-color: #141e3c;
  color: #fff;
}
.primary {
  background-color: #ed79f9;
}

:root {
  --bs-body-font-family: "Lato", sans-serif;
}
.light-theme {
  --link: #007eb3;
  --highlight: #173a64;
}

.output-text {
  margin: 0;
}

.panel {
  width: 261px;
}

.panel .select-wrapper {
  font-size: 0.9em;
  font-weight: normal;
  text-align: left;
  margin: 0 0 1em 0;
}
